{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            Default Website    
        {% endblock %}
    </title>
</head>
<body>
    {% comment %} Included items are fix for every page {% endcomment %}
    
    {% include "navbar.html" %}
    {% include "sidebar.html" %}

    <main>
        {% block mainapp %}
            This will contain dynamic content. 
        {% endblock %}
    </main>

    {% include "footer.html" %}
        
</body>
</html>